@tailwind base;
@tailwind components;
@tailwind utilities;




.card{
    margin: 0 auto;
    padding: 0.5rem;
    width: 350px;
    background: #FEF9E1;
    height: fit-content;
    text-align: center;
    border-radius: 10px;
    position: relative;
    margin-bottom: 2rem;
  }
  
  @property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }
  
  .card::after, .card::before{
    content: '';
    position: absolute;
    height: 450px;
    width: 350px;
    background-image: conic-gradient(from var(--angle), hsl(83, 61%, 56%), #00ff99, #213555, #D8C4B6, #ff4545);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 8px;
    border-radius: 10px;
    animation: 3s spin linear infinite;
  }
  .card::before{
    filter: blur(1.2rem);
    opacity: 0.5;
  }
  @keyframes spin{
    from{
      --angle: 0deg;
    }
    to{
      --angle: 360deg;
    }
  }




